<div class="border-default p-6" [formGroup]="questionForm">
  <div class="flex items-center gap-2">
    <div class="bg-[#363F47] text-white rounded-lg px-2.5 py-1.5">Q{{ index + 1 }}</div>

    <!-- Type -->
     <app-dropdown formControlName="questionType" [items]="questionTypes"></app-dropdown>
  </div>

  <div class="flex flex-col gap-6 py-5">
    <!-- Question Text -->
    <div>
      <input
        class="w-full text-lg leading-7"
        placeholder="Question text"
        formControlName="questionText"
        aria-label="Question text"
      />
      @if (questionText?.invalid && questionText?.touched) {
        <div class="text-red-600 text-sm">Question text is required.</div>
      }
    </div>
    <!-- Options -->
    @if (!isSingleLineInput) {
      <div>
        <textarea
          class="w-full text-lg font-normal max-h-80 text-[#475467]"
          placeholder="- Option 1&#10;- Option 2"
          formControlName="options"
          aria-label="Options"
          cdkTextareaAutosize
        ></textarea>
        @if (options?.touched && options?.errors) {
          <p class="text-red-600 text-sm">
            {{ options?.errors?.['message'] }}
          </p>
        }
      </div>
    }
  </div>

  <div class="divider"></div>

  <div class="flex justify-end gap-4 mt-5">
    @if (!isSingleLineInput) {
      <app-switch label="Randomize options" formControlName="randomizeOptionsInd"></app-switch>
    }

    <app-switch label="Required" formControlName="mandatoryInd"></app-switch>
  </div>
</div>
