@import 'tailwindcss';

@layer base {
  input,
  textarea {
    @apply placeholder-[#674747] text-[#182230] p-1;
  }

  button {
    @apply p-2 rounded-lg text-sm font-semibold cursor-pointer hover:filter hover:brightness-98;
  }

  input:focus,
  textarea:focus,
  button:focus {
    @apply outline-none ring-1 ring-[#5590FF] rounded-lg;
  }

  select {
    @apply p-1 rounded-lg border border-[#D0D5DD] text-[#182230];
  }
}

@layer components {
  .border-default {
    @apply border border-[#D0D5DD] rounded-lg;
  }
  .divider {
    @apply border-t border-[#D0D5DD];
  }

  .button-primary {
    @apply bg-[#1570EF] text-white px-4 hover:bg-[#175CD3] disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed;
  }

  .text-button {
    @apply text-[#1570EF] hover:text-[#175CD3] bg-white;
  }
}
