@import 'tailwindcss';

@layer base {
  input,
  textarea {
    @apply placeholder-[#674747] text-[#182230];
  }

  button {
    @apply p-2 rounded-lg cursor-pointer hover:filter hover:brightness-96;
  }

  input:focus,
  textarea:focus,
  button:focus {
    @apply outline-none ring-1 ring-[#5590FF];
  }
}

@layer components {
  .border-default {
    @apply border border-[#D0D5DD] rounded-lg;
  }
  .divider {
    @apply border-t border-[#D0D5DD];
  }
}
