@import 'tailwindcss';

@layer base {
  input,
  textarea {
    @apply placeholder-[#674747] text-[#182230] p-1;
  }

  button {
    @apply p-2 rounded-lg text-sm font-semibold cursor-pointer hover:filter hover:brightness-98;
  }

  input:focus,
  textarea:focus,
  button:focus {
    @apply outline-none ring-1 ring-[#5590FF] rounded-lg;
  }
}

@layer components {
  .border-default {
    @apply border border-[#D0D5DD] rounded-lg;
  }
  .divider {
    @apply border-t border-[#D0D5DD];
  }

  .text-button {
    @apply text-[#1570EF] hover:text-[#175CD3] bg-white;
  }
}
